# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.sample.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\MyProject\unity-webview-master\unity-webview-master\sample\.idea\.idea.sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
